@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 90vh;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.item {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  min-width: 0;
  width: auto;
}

.item.important {
  border-left: 5px solid green;
}

.item span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto ;
}

.item h3 {
  max-width: 90%;
  white-space: pre-wrap;
  word-break: break-all;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.edit-form {
  position: absolute;
  z-index: 1;
  margin: auto;
  min-width: 0;
  max-width: 85%;
  width: 100%;
  color: black;
  padding: 5%;
  background-color: rgba(255, 255, 255, 1);
  border: 3px  solid black;
  border-radius: 5px;
}

@media only screen and (min-width: 540px){
  .edit-form { 
    margin: 0% 0% 0% -1%;
    min-width: 0;
    max-width: 450px;
    width: 100%;
  }

}

.edit-form h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.dd-wrapper {
  /* display: flex; */
  margin: auto;
  width: 50%;
  justify-content: center;
  text-align: center;
  position: relative;
  padding: 0px 0px 15px 0px;
}

.dd-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  background-color: #f9f9f9;
  padding: 5% 5%;
  box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
  z-index: 1;
}

.dd-header {
  background-color: grey;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dd-list-content {
  color: black;
  background-color: #f9f9f9;
  padding: 10% 10%;
  text-decoration: none;
  display: block;
  border: none;
  font-size: 16px;
  width: 100%;
}

.dd-list-content:hover {
  background-color: #f1f1f1
}